# Maven (Compiled code)
target/
/pom.xml.versionsBackup

# Environment Variables / Secrets (DÔLEŽITÉ!)
.env
.env.local
.env.*

# Logy
/logs/
/*.log

# IntelliJ IDEA
/.idea/
/*.iml
/out/

# Eclipse
/.classpath
/.project
/.settings/

# OS súbory
.DS_Store
Thumbs.db

# Docker
/postgres-data/
/minio-data/
/feeds/
